/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  color: #5CA4D7;
  width: 100%; }

span {
  display: inline-block; }

.container {
  width: 100%;
  position: relative;
  margin: 10px auto;
  overflow: hidden; }

.left_shirt,
.middle_shirt,
.right_shirt {
  display: inline-block;
  width: 32.92929%;
  height: 520px;
  margin: 20px auto;
  padding: 10px 25px 10px 25px; }

.flip_container {
  perspective: 1000px; }

.shirt {
  max-width: 90%;
  height: 320px;
  margin: 10px auto;
  padding: 5px;
  display: block;
  transition: 0.6s;
  transform-style: preserve-3d; }

.front,
.back {
  backface-visibility: hidden;
  position: relative;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg); }

.back {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.flip_container:hover .shirt {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.shirt_back {
  position: absolute;
  color: white;
  text-align: center;
  max-width: 90%;
  height: 310px;
  left: 50px;
  top: 20px; }

.top {
  position: relative;
  margin: 0px auto 0px auto;
  padding: 18px 0px 0px 0px;
  border-top: 3px solid #5CA4D7;
  border-right: 3px solid #5CA4D7;
  border-bottom: 3px solid #5CA4D7;
  border-left: 3px solid #5CA4D7; }

.top_right {
  display: inline-block;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 0px;
  right: 0px;
  border-bottom: 3px solid #5CA4D7;
  border-left: 3px solid #5CA4D7;
  vertical-align: middle; }

.top_right:hover {
  background-color: #5CA4D7;
  color: white; }

.middle {
  display: block;
  margin: 0px auto;
  vertical-align: middle;
  border-top: 0px;
  border-right: 3px solid #5CA4D7;
  border-bottom: 0px;
  border-left: 3px solid #5CA4D7; }

.bottom {
  margin: 0px;
  padding: 20px 5px 0px 8px;
  border-top: 3px solid #5CA4D7;
  border-bottom: 0px;
  height: 53px;
  font-size: 27px;
  font-family: 'Raleway', sans-serif; }

.cart {
  font-size: 20px;
  width: 100%;
  text-align: right;
  padding-right: 5%;
  font-family: 'Raleway', sans-serif; }

.fa-repeat {
  padding-top: 8px;
  padding-left: 8px; }

i.fa-shopping-basket {
  font-size: 28px; }

.small_pic_1,
.small_pic_2,
.small_pic_3,
.small_pic_4,
.small_pic_5 {
  display: inline-block;
  width: 20%;
  height: 60px;
  color: #5CA4D7;
  text-align: center;
  border-top: 0px;
  border-right: 3px solid #5CA4D7;
  border-bottom: 0px;
  border-left: 3px solid #5CA4D7;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  vertical-align: middle;
  font-size: 23px; }

.small_pic_1:hover,
.small_pic_2:hover,
.small_pic_3:hover,
.small_pic_4:hover,
.small_pic_5:hover {
  background-color: #5CA4D7;
  color: white; }

.small_pic_1 {
  border-left: 0;
  border-right: 0; }

.small_pic_3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold; }

.small_pic_2,
.small_pic_3,
.small_pic_4,
.small_pic_5 {
  border-right: 0; }

.small_pic_4_color_blue {
  width: 30px;
  height: 30px;
  margin: -5px auto;
  background-color: #5CA4D7; }

.small_pic_4_color_pink {
  width: 30px;
  height: 30px;
  margin: -5px auto;
  background-color: #D482AA; }

.small_pic_4_color_orange {
  width: 30px;
  height: 30px;
  margin: -5px auto;
  background-color: #DCB07D; }

.small_pic_4:hover .small_pic_4_color_blue {
  border: 2px solid white; }

.small_pic_4_color_pink {
  border: 2px solid white; }

.small_pic_4_color_orange {
  border: 2px solid white; }

.text_left {
  text-align: left;
  width: 78%; }

.text_right {
  text-align: right;
  width: 19%;
  font-weight: bold; }

/*Dropdown menus*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content-shirts {
  display: none;
  position: absolute;
  top: -270px;
  left: -67px;
  background-color: #f9f9f9;
  padding: 25px; }

.dropdown-content-colors {
  display: none;
  position: absolute;
  top: -135px;
  left: -50px;
  background-color: #f9f9f9;
  padding: 8px;
  width: 125px; }

.dropdown_blue,
.dropdown_pink,
.dropdown_orange,
.dropdown_green {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px; }

.dropdown_blue {
  background-color: #5CA4D7; }

.dropdown_pink {
  background-color: #D482AA; }

.dropdown_orange {
  background-color: #DCB07D; }

.dropdown_green {
  background-color: #21bc67; }

/* Show the dropdown menu on hover */
.small_pic_3:hover .dropdown-content-shirts {
  display: block;
  background-color: white;
  border: 3px solid #5CA4D7;
  animation-name: movePopUpDown;
  animation-duration: .3s; }

.small_pic_4:hover .dropdown-content-colors {
  display: block;
  background-color: white;
  border: 3px solid #5CA4D7;
  animation-name: movePopUpDown;
  animation-duration: .3s; }

/*bottom border arrow*/
.arrow_down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  left: 44%;
  bottom: -8px;
  animation-name: movePopUpDown; }

.dropdown-content-shirts {
  position: absolute;
  background: #FFFFFF;
  border: 3px solid #5CA4D7; }

.dropdown-content-shirts {
  position: absolute;
  background: #FFFFFF;
  border: 3px solid #5CA4D7; }

/*animation*/
@keyframes movePopUpDown {
  0% {
    margin-top: -40px;
    opacity: 0; }
  30% {
    opacity: .6; }
  100% {
    margin-top: 0;
    opacity: 1; } }

/*media queries*/
@media screen and (max-width: 990px) {
  .left_shirt,
  .middle_shirt,
  .right_shirt {
    width: 100%; }
  .small_pic_1,
  .small_pic_2,
  .small_pic_3,
  .small_pic_4,
  .small_pic_5 {
    font-size: 25px; }
  .bottom {
    font-size: 35px; }
  .shirt {
    max-width: 100%; }
  .dropdown-content-shirts {
    display: none;
    position: absolute;
    top: -275px;
    left: -67px;
    background-color: #f9f9f9;
    padding: 25px; }
  .dropdown-content-colors {
    display: none;
    position: absolute;
    top: -133px;
    left: -50px;
    background-color: #f9f9f9;
    padding: 8px;
    width: 125px; } }
